<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
<div id="sub_content">
	
	<h1><%= t('admin.menu.merge') %>&nbsp;-&nbsp;<%= t('label.show') %></h1>
</div>

<p>
  <strong><%= t('title.merge.name') %></strong>
  <%= @admin_merge.name %>
</p>

<p>
  <strong><%= t('title.merge.title') %></strong>
  <%= @admin_merge.title %>
</p>

<p>
  <strong><%= t('title.graph.term') %></strong>
  <%= Graph::TERMS[@admin_merge.term] %>
</p>

<br /><br />
<%= link_to t('label.back'), admin_merges_path,:class=>"button_link" %>
<%= link_to t('label.edit'), edit_admin_merge_path(@admin_merge),:class=>"button_link" %>



</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>