<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= t('admin.menu.group') %>&nbsp;-&nbsp;<%= t('label.new') %></h1>
</div>

<%= render 'form' %>

<%= link_to t('label.back'), admin_groups_path,:class=>"button_link" %>

</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>