<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
<div id="sub_content">
	
	<h1><%= t('admin.menu.user') %></h1>
</div>

	<table class="coder">
	  <thead>
	    <tr>
	      <th><%= t('title.user.name') %></th>
	      <th><%= t('title.title') %></th>
	      <th><%= t('title.group.name') %></th>
	      <th><%= t('title.user.admin') %></th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @admin_users.each do |admin_user| %>
	      <tr>
	        <td><%= link_to admin_user.name, edit_admin_user_path(admin_user) %></td>
	        <td><%= admin_user.title %></td>
	        <td><%= admin_user.group.title %></td>
	        <td><%= admin_user.admin %></td>
	        <td><%= link_to t('label.delete'), admin_user, method: :delete, data: { confirm: t('message.delete') } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<br />

<% if @admin_users.length < @maxuser %>
<%= link_to t('label.new'), new_admin_user_path,:class=>"button_link" %>
<% end %>


</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>